.ddCoContainer {
    position: relative;
    clear: both;
}
.ddCoContainer > .inputContainer {
    width: 100%;
    position: relative;
}

.ddCoContainer > .inputContainer > .autocompleteinput {
    width: 100%;
    border-color: #777;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 14px;
    height: 44px;
    line-height: 19px;
    padding: 7.5px 12.5px;
    outline: none;
}

.ddCoContainer > .inputContainer > .dropdown-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(180deg);
    cursor: pointer;
}

.ddCoContainer > .listContainer {
    background-color: #fff;
    /* box-shadow: 0px 4px 5px 2px #cccc; */
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 44px;
    max-height: 600px;
    overflow-y: scroll;
    z-index: 1;

}
.ddCoContainer > .listContainer .listitem{
    padding: 10px;
}
.ddCoContainer > .listContainer .listitem:hover{
    background-color: #efefef;
    cursor: pointer;
}
.ddCoContainer > .listContainer .more-item-text {
    color: #555;
    padding: 10px;
}
.more-item-text > .more-link {
    color: #1f56a8;
    cursor: pointer;
}

